/*////////////////////////// Mise en pages principale///////////////////////////////// */

*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Giaza';
    src: url('/font/giaza-webfont.woff')
    format('opentype');
    font-weight: normal;
    font-style: normal;
}

header{
    padding: 15px;
}

.petitY{
    width: 70px;
    height: auto ; 
}
header, footer{
    font-family: 'Giaza';
    color: #FFFCF7;
    background-color: #72224D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    padding: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul, li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: rgb(249, 247, 250);
}

#Titre {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.5rem;
}


/* Conteneur du formulaire */
.container {
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Style des champs */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style du bouton */
button {
    background: #72224D;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #72224D;
}
