<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>{{.Title}} - Ynosphere</title>
</head>
<body>
    <header>
        <h1>Ynosphere</h1>
        <img src="/static/image/ypetit.png" alt="Logo" class="petitY">
        <ul>
            <li><a href="/" class="active">Accueil</a></li>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>
   
    <main>
        <section id="section1">
            <a href="/template/blog1.html">
                <img src="https://images.radio-canada.ca/q_auto,w_1200/v1/ici-info/16x9/baleine-navire-generique-pollution-sonore.png" alt="Baleine et navire">
                <h2>Des technologies développées en Atlantique pour réduire la pollution sonore des océans</h2>
            </a>
        </section>
        
        <div class="articles-container">
            <a href="/template/blog2.html">
                <section class="block">
                    <div>
                        <img src="/image/Proba-3_satellites_pillars blog2.jpg" alt="Proba-3">
                        <h2>Proba-3, un duo de satellites s’envole pour éclipser le Soleil</h2>
                        <p>On donne un contexte au titre</p>
                        <h3>Si on appuie sur l'icône, ça fait aussi un lien</h3>
                    </div>
                </section>
            </a>
            
            <a href="/template/blog3.html">
                <section class="block">
                    <div>
                        <img src="/image/Exemple.png" alt="Illustration">
                        <h2>Titre de l'article</h2>
                        <p>On donne un contexte au titre</p>
                        <h3>Si on appuie sur l'icône, ça fait aussi un lien</h3>
                    </div>
                </section>
            </a>
    
            <!-- Ajoutez d'autres blocs d'articles ici -->
        </div>
    </main>
    