<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} - Ynosphere</title>
    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="/static/style/style.css">

</head>
<body>
    <header>
        <h1>Ynosphere</h1>
        <ul>
            <li><a href="/" class="active">Accueil</a></li>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>

    <main>
        <!-- Article à la une -->
        {{if .FeaturedArticle}}
        <section class="featured-article">
            <img src="{{.FeaturedArticle.ImageURL}}" alt="{{.FeaturedArticle.Title}}" class="featured-image">
            <div>
                <h2>À la une : {{.FeaturedArticle.Title}}</h2>
                <p>{{.FeaturedArticle.Description}}</p>
                <a href="/{{.FeaturedArticle.Slug}}" class="btn">Lire l'article</a>
            </div>
        </section>
        {{end}}

        <!-- Liste des articles -->
        <h2>{{.Title}}</h2>
        <ul class="articles-list">
            {{range .Articles}}
            <li>
                <a href="/{{.Slug}}" class="article-item">
                    <img src="{{.ImageURL}}" alt="{{.Title}}" class="article-image">
                    <div>
                        <h3>{{.Title}}</h3>
                        <p>{{.Description}}</p>
                    </div>
                </a>
            </li>
            {{end}}
        </ul>        
    </main>
    
    <footer>
        <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter (X)</a></li>
        </ul>
    </footer>
</body>
</html>
